<div class="d-none d-md-block">
  <ul class="nav bg-info">
    <li class="nav-item h5">
      <a class="nav-link text-white" href="/">Home Page</a>
    </li>
    <li class="nav-item h5">
      <a class="nav-link text-white" href="/math">Math Lessons</a>
    </li>
    <li class="nav-item h5">
      <a class="nav-link text-white" href="/translate">Translate Words</a>
    </li>
    <li class="nav-item h5">
  	  <a class="nav-link text-white" href="/similar-imgs">Find Two Similar Images</a>
    </li>
  </ul>
</div>

